<div class="row row-cols-2">
    <div class="col-6">
        <div class="card">
            
            <div class="card-body">
                
                      <!--Componente-->
                      <app-grafico-dona [leyenda] ="graficos.grafico1.leyenda" [gdata] ="graficos.grafico1.data" [glabels]="graficos.grafico1.labels" [gtchar] = "graficos.grafico1.type" ></app-grafico-dona>
                   
            </div>
        </div>  
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                      <!--Componente-->
                      <app-grafico-dona [leyenda] ="graficos.grafico2.leyenda" [gdata] ="graficos.grafico2.data" [glabels]="graficos.grafico2.labels" [gtchar] = "graficos.grafico2.type" ></app-grafico-dona>
                   
            </div>
            
        </div>

    </div>
    <div class="col-6">
    
        <div class="card">
            <div class="card-body">
                
                      <!--Componente-->
                      <app-grafico-dona [leyenda] ="graficos.grafico3.leyenda" [gdata] ="graficos.grafico3.data" [glabels]="graficos.grafico3.labels" [gtchar] = "graficos.grafico3.type" ></app-grafico-dona>
                   
            </div>
            
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                
                      <!--Componente-->
                      <app-grafico-dona [leyenda] ="graficos.grafico4.leyenda" [gdata] ="graficos.grafico4.data" [glabels]="graficos.grafico4.labels" [gtchar] = "graficos.grafico4.type" ></app-grafico-dona>
                   
            </div>
            
        </div>
    </div>
    
</div>